body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #5A6980;
    background: rgba(255, 255, 255, 0.2);
}

* {
    box-sizing: border-box;
}

/*Features*/

/* .container{
    background-color: cadetblue;
} */

.Features-tiitle {
    /* background-color: burlywood; */
    padding: 10px 0;
}

h3, h6, p {
    text-align: center;
}

.Features-tiitle h3 {
    font-size: 40px;
    font-weight: 700;
    color: #242A33;
    margin-bottom: 20px;
}

.Features-tiitle p {
    line-height: 22px;
}

/*end Features*/

/*Element*/
.Element {
    position: relative;
    margin-top: 85px;
}

.icon-left, .icon-center, .icon-right {
background: rgba(255, 255, 255, 0.5);
border-radius: 24px;
height: 98px;
width: 99px;
position: relative;
left: 33%;
}

.icon {
    position: absolute;
    top: 25%;
    right: 25px;
}

h6 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #6C7E99;
}

.icon-left-bottom, .icon-center-bottom, .icon-right-bottom {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    height: 98px;
    width: 99px;
    position: relative;
    left: 33%;
    margin-top: 77px;
}

.icon-bottom {
    position: absolute;
    top: 25%;
    right: 25px;
}
/*end Element*/

/* псевдо эллементы */
.icon-left::before{
    content: "";
    width: 79px;
    height: 78px;
    display: block;
    background: linear-gradient(296.54deg, rgba(235, 100, 83, 0.5) -52.8%, rgba(235, 100, 83, 0) 65.53%);
    border-radius: 24px;
    position: absolute;
    top: 11%;
    right: -20%;
    z-index: -1;
}

.icon-center::before {
    content: "";
    width: 79px;
    height: 78px;
    display: block;
    background: rgba(78, 146, 249, 0.12);
    border-radius: 24px;
    position: absolute;
    top: 11%;
    right: -20%;
    z-index: -1;
}

.icon-right::before {
    content: "";
    width: 79px;
    height: 78px;
    display: block;
    background: linear-gradient(298.95deg, rgba(255, 195, 67, 0.7) -72.57%, rgba(255, 195, 67, 0) 99.03%);
    border-radius: 24px;
    position: absolute;
    top: 11%;
    right: -20%;
    z-index: -1;
}

.icon-left-bottom::before{
    content: "";
    width: 79px;
    height: 78px;
    display: block;
    background: linear-gradient(309.78deg, rgba(150, 209, 33, 0.4) -46.66%, rgba(150, 209, 33, 0) 83.56%);
    border-radius: 24px;
    position: absolute;
    top: 11%;
    right: -20%;
    z-index: -1;
}

.icon-center-bottom::before{
    content: "";
    width: 79px;
    height: 78px;
    display: block;
    background: rgba(195, 129, 219, 0.12);
    border-radius: 24px;
    position: absolute;
    top: 11%;
    right: -20%;
    z-index: -1;
}

.icon-right-bottom::before{
    content: "";
    width: 79px;
    height: 78px;
    display: block;
    background: linear-gradient(300.74deg, rgba(33, 212, 223, 0.3) -52.44%, rgba(33, 212, 223, 0) 70.45%);
    border-radius: 24px;
    position: absolute;
    top: 11%;
    right: -20%;
    z-index: -1;
}

.Element::before{
    background-image: url(/img/Rectangle/svg);
    position: absolute;

}
/* конец псевдо эллементов */
